In [1]:
# Dependencies
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey

In [2]:
types_df = pd.read_csv("../Resources/ethnic_restr.csv")
types_df.head()

  ethnicity
0   chinese
1     cuban
2     czech
3    french
4    german

In [3]:
# set up additional columns to hold information
types_df['name'] = ""
types_df['address'] = ""
types_df['price_level'] = ""
types_df['rating'] = ""

types_df.head()

  ethnicity name address price_level rating
0   chinese
1     cuban
2     czech
3    french
4    german

In [7]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "39.952583,-75.16522",  # philadelphia coords
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}
# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    for i in range(len(results)):
        print(results[i]['rating'])
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: chinese.
2.3
4.3
4.5
4.5
3.9
4.9
4.1
4.1
4.1
4.3
3.2
3.9
4.6
4.5
4.3
4.3
4.2
4.4
4.3
3.6
Closest chinese restaurant is Chinese Fast Wok.
------------
Retrieving Results for Index 1: cuban.
4.4
4.2
4.7
4
4.4
4.3
4.3
Closest cuban restaurant is Mixto Restaurante.
------------
Retrieving Results for Index 2: czech.
Missing field/result... skipping.
------------
Retrieving Results for Index 3: french.
4.5
4
4.4
4.4
4.8
4.3
4.4
4.7
4.6
4.3
4.4
4.2
4.7
4.7
4.6
4.6
4.8
4.7
4.6
4.3
Closest french restaurant is Del Frisco's Double Eagle Steakhouse.
------------
Retrieving Results for Index 4: german.
4.2
4.2
4.3
4.5
3.8
4.5
4.5
4.3
4
4.6
4.5
4.6
4.5
4.7
Closest german restaurant is Tir na nOg Irish Bar & Grill.
------------
Retrieving Results for Index 5: greek.
4.2
4.5
4.2
4.4
4.6
4.4
4.3
4.5
4.4
4.5
4.5
4.4
4.6
4.6
4.7
4.2
4.7
4.5
4.7
4.2
Closest greek restaurant is Zaffron Mediterranean Grill.
------------
Retrieving Results for Index 6: haitian.
4.3
4
4.1
4.1
4
0
0
4.5
4.4
4.3
4.4
4.5
4.1
4.8
3.8
Closest haitian restaurant is Flambo Caribbean Restaurant.
------------
Retrieving Results for Index 7: hungarian.
4.5
4.6
4.7
4.4
4.5
4.6
4.6
Closest hungarian restaurant is Brauhaus Schmitz.
------------
Retrieving Results for Index 8: indian.
4.4
4.5
3.4
4.4
4.3
4.6
4.2
4.2
3.6
4.6
3.8
4.1
4.7
4.2
4.3
4.1
4.9
4
4.5
4.2
Closest indian restaurant is Amma's South Indian Cuisine.
------------
Retrieving Results for Index 9: indonesian.
4.2
4.2
4.7
4.9
4.6
4.7
4.6
4.4
4.5
4.5
4.7
Closest indonesian restaurant is Banana Leaf: Malaysian Cuisine.
------------
Retrieving Results for Index 10: irish.
4.2
4.4
4.4
4.5
4.3
4.3
4.3
4.4
4.3
4.5
4.3
4.5
4.4
4.3
4.5
4.2
4.4
3.9
4.6
4.3
Closest irish restaurant is Tir na nOg Irish Bar & Grill.
------------
Retrieving Results for Index 11: israeli.
4.7
4.7
4.7
4.4
4.7
4.2
4.8
4.7
4.6
4.4
4.7
4.5
4.5
Closest israeli restaurant is Goldie.
------------
Retrieving Results for Index 12: italian.
4.7
4.8
4.4
4.2
4.5
4.3
4.6
4.5
4.3
4.1
4.8
4.4
4.4
4.7
4.6
4.4
4.3
4.6
4.4
4.4
Closest italian restaurant is Gran Caffe L'Aquila.
------------
Retrieving Results for Index 13: japanese.
4.8
4.7
4.3
4.7
4.6
4.5
4.6
4.4
4.4
4.8
4.5
4.4
4.4
4.4
4.8
4.5
4.6
4.6
4.3
4.8
Closest japanese restaurant is Ninja Bao.
------------
Retrieving Results for Index 14: jewish.
4.7
5
4.7
4.3
4.7
4.1
4.6
4
5
4.1
4.4
4.2
4.6
4.5
4.7
4.8
4.7
3.8
4.4
4.5
Closest jewish restaurant is Goldie.
------------
Retrieving Results for Index 15: korean.
4.4
4.1
4.5
4.6
4.3
4.4
4
4.5
4.8
0
4.8
4.4
4.3
5
3.9
4.6
5
4.2
4.8
4.6
Closest korean restaurant is Rice & Mix.
------------
Retrieving Results for Index 16: lebanese.
4.6
4.2
4.4
4.4
3.8
4.4
4.1
3.7
4.6
4.5
4.4
4.6
4.9
4.7
4.7
1
4.7
4.7
4.2
4.3
Closest lebanese restaurant is NAYA Philly.
Missing field/result... skipping.
------------
Retrieving Results for Index 17: mexican.
3.8
4.5
4.1
4.1
4.2
4.4
4.5
4.6
4.4
4.1
4.5
3.9
4.3
4.6
4.4
4.2
4.3
4.4
4.4
4.2
Closest mexican restaurant is Chipotle Mexican Grill.
------------
Retrieving Results for Index 18: new american.
4.3
4.5
4.6
4.2
4.3
4.4
4.4
4.2
4.6
4
4.3
4.4
4.4
4.8
4.5
4.5
4.7
4.5
4.4
4.1
Closest new american restaurant is The American Pub.
------------
Retrieving Results for Index 19: pakistani.
3.4
4.4
3.8
3.8
3.6
4
4.2
4.6
3.8
4.1
4.1
4.1
4.5
4.2
4.1
3.9
4.5
4.6
4.1
4
Closest pakistani restaurant is Nanee's Kitchen.
Missing field/result... skipping.
------------
Retrieving Results for Index 20: polish.
3.4
4.8
4.7
4.4
4.6
4.9
4.5
4.6
4.7
4.6
4.6
Closest polish restaurant is Famous Franks A-lot.
Missing field/result... skipping.
------------
Retrieving Results for Index 21: russian.
4.6
4.1
4.6
4.4
4.8
4.3
4.5
4.4
4.1
4.6
4.6
4.3
Closest russian restaurant is Ocean Prime.
------------
Retrieving Results for Index 22: scandinavian.
4.7
4.5
4.1
4.3
4.7
5
4.7
4.5
Closest scandinavian restaurant is Double Knot.
------------
Retrieving Results for Index 23: scottish.
4.7
4.2
4.5
4.5
4.6
4.2
4.6
4.4
4.1
4.1
4.7
4.4
4.3
4.3
4.6
4.6
4.7
4.7
4.7
4.3
Closest scottish restaurant is Gran Caffe L'Aquila.
------------
Retrieving Results for Index 24: soul food.
0
4.8
3.8
3.9
4.2
3.8
4
3.8
3.4
4
5
4
3.9
4.8
3.2
4.6
3.5
3.3
4.4
3.9
Closest soul food restaurant is Nothing But Love Soulfood Catering #2.
Missing field/result... skipping.
------------
Retrieving Results for Index 25: spanish.
3.6
0
4.4
4.5
4.6
4.6
4.4
4.5
4.3
4.4
4.2
4.2
4.7
4.5
4.4
4.2
4.6
4.3
4.1
4.3
Closest spanish restaurant is Sabroso+Sorbo.
Missing field/result... skipping.
------------
Retrieving Results for Index 26: thai.
4.6
4.2
4.6
4.2
4.1
4.6
4.5
4.3
4.5
4.1
4.5
4.6
4.6
4.5
4.3
4.6
4.4
4.1
4.4
3.8
Closest thai restaurant is Chatayee Thai.
Missing field/result... skipping.
------------
Retrieving Results for Index 27: turkish.
4.4
4.5
4.6
4.4
4.5
4.6
4.3
4.8
0
4.7
3.7
4.4
4.5
5
4.6
4.3
4.4
4.5
Closest turkish restaurant is Sahara Grill.
------------
Retrieving Results for Index 28: ukrainian.
4.8
4.5
4.1
4.6
4.4
4.6
3.9
4.3
4.4
4.6
4.6
4.1
Closest ukrainian restaurant is Mom-Mom's Kitchen.
Missing field/result... skipping.
------------
Retrieving Results for Index 29: vietnamese.
4.5
4.3
4.7
4.3
4.4
4.4
4.6
4.4
4.5
4.7
4.7
4.5
4.4
4.7
4.4
4.2
4.6
4.6
4.3
4.4
Closest vietnamese restaurant is Pho Street.
------------

In [5]:
types_df

,ethnicity,name,address,price_level,rating
0,chinese,Chinese Fast Wok,"1500 John F Kennedy Blvd, Philadelphia",2,2.3
1,cuban,Mixto Restaurante,"1141 Pine St, Philadelphia",2,4.4
2,czech,,,,
3,french,Del Frisco's Double Eagle Steakhouse,"1428-1432 Chestnut St, Philadelphia",4,4.5
4,german,Brü Craft & Wurst,"1316 Chestnut St, Philadelphia",2,4.2
5,greek,Zaffron Mediterranean Grill,"Philadelphia, Chestnut St",2,4.2
6,haitian,Flambo Caribbean Restaurant,"820 N Broad St, Philadelphia",2,4.3
7,hungarian,Brauhaus Schmitz,"718 South St, Philadelphia",2,4.5
8,indian,Amma's South Indian Cuisine,"1518 Chestnut St, Philadelphia",2,4.4
9,indonesian,Banana Leaf: Malaysian Cuisine,"1009 Arch St, Philadelphia",1,4.2
10,irish,Tir na nOg Irish Bar & Grill,"1600 Arch St, Philadelphia",2,4.2
11,israeli,Goldie,"1526 Sansom St, Philadelphia",1,4.7
12,italian,Gran Caffe L'Aquila,"1716 Chestnut St, Philadelphia",2,4.7
13,japanese,Ninja Bao,"1500 JFK Blvd Two Penn Center, underground whi...",2,4.8
14,jewish,Goldie,"1526 Sansom St, Philadelphia",1,4.7
15,korean,Rice & Mix,"128 S 12th St, Philadelphia",2,4.4
16,lebanese,NAYA Philly,"1601 Market St, Philadelphia",,
17,mexican,Chipotle Mexican Grill,"1625 Chestnut St Ste F6, Philadelphia",1,3.8
18,new american,The American Pub,"Centre Square Building Concourse, 1500 Market ...",2,4.3
19,pakistani,Nanee's Kitchen,"51 N 12th St #2954, Philadelphia",,
20,polish,Famous Franks A-lot,"51 N 12th St, Philadelphia",,
21,russian,Ocean Prime,"124 S 15th St, Philadelphia",4,4.6
22,scandinavian,Double Knot,"120 S 13th St, Philadelphia",2,4.7
23,scottish,Gran Caffe L'Aquila,"1716 Chestnut St, Philadelphia",2,4.7
24,soul food,Nothing But Love Soulfood Catering #2,"1635 Market St suite 1600, Philadelphia",,
25,spanish,Sabroso+Sorbo,"21 N Juniper St, Philadelphia",,
26,thai,Chatayee Thai,"1227 Walnut St, Philadelphia",,
27,turkish,Sahara Grill,"1334 Walnut St, Philadelphia",1,4.4
28,ukrainian,Mom-Mom's Kitchen,"1505 South St, Philadelphia",,
29,vietnamese,Pho Street,"1230 Arch St, Philadelphia",1,4.5

In [4]:
print(requests.get(base_url, params)

SyntaxError: unexpected EOF while parsing (<ipython-input-4-ce716a7227bc>, line 1)